@using Apolo.Web.Util
<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">MENÚ PRINCIPAL</li>
        <li class="@HttpUtil.OutputStringIfUrlMatches(HttpContext.Current, @"\/Administrator\/Home)", "active")">
            <a href="@Url.Action("Index","Home", new { area = "Administrator" })">
                <i class="material-icons">home</i>
                <span>Inicio</span>
            </a>
        </li>
    </ul>
</div>
<!-- #Menu -->