<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">MENÚ PRINCIPAL</li>
        <li class="active">
            <a href="@Url.Action("Index","Home")">
                <i class="material-icons">home</i>
                <span>Inicio</span>
            </a>
        </li>
    </ul>
</div>
<!-- #Menu -->
