@using Apolo.Core.Model
@{
    string fullName = (Session[Constants.SESSION_USER] as Apolo.Core.Model.Security.User)?.FirstName?.ToString() + " " + (Session[Constants.SESSION_USER] as Apolo.Core.Model.Security.User)?.LastName?.ToString();
    string role = (Session[Constants.SESSION_USER] as Apolo.Core.Model.Security.User)?.Role?.ToString();
    string username = (Session[Constants.SESSION_USER] as Apolo.Core.Model.Security.User)?.Username;
}
<!-- User Info -->
<div class="user-info">
    <div class="image">
        <img src="@Url.Action("UserAvatar", "Util", new { username = username, area = "" })" width="48" height="48" alt="User">
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@fullName</div>
        <div class="email">@role</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a href="@Url.Action("LogOff", "Account")"><i class="material-icons">input</i>Salir</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- #User Info -->
