@using Apolo.Core.Model.Treatment
@{
    List<WorkUnit> workUnits = ((WorkDay)ViewBag.WorkDayForToday).WorkUnits.ToList();
}
<div class="row">
    <div class=" col-md-6">
        @Html.Partial("_WorkUnitCard", new { WorkUnit = workUnits[0] })
    </div>
    <div class=" col-md-6">
        @Html.Partial("_WorkUnitCard", new { WorkUnit = workUnits[1] })
    </div>
</div>